<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431383675522-orsa6qoardsmt2s01b5s9ot0jo840rsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431383675522-orsa6qoardsmt2s01b5s9ot0jo840rsp</string>
	<key>API_KEY</key>
	<string>AIzaSyDR08ZRCJZDyvhpvqw_W5uvFb1YYsiqeoU</string>
	<key>GCM_SENDER_ID</key>
	<string>431383675522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wayahApp</string>
	<key>PROJECT_ID</key>
	<string>egr423-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>egr423-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431383675522:ios:a86b252110c6306733ea9b</string>
</dict>
</plist>